#pad{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
    border: none;

}

button img{
   max-width: 80%;
   max-height: 60vh;
   border-radius: 5px;
}

button{
    background: none;
}

a{
    text-decoration: none;
    color: black;
}

#cont-center{
    display: flex;
  align-items: center;
  justify-content: center;
}
