@font-face{
    font-family: text-session;
    src: url(amsterdam-four.ttf);
    
}

#pad{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
    border: none;

}

button img{
   max-width: 80%;
   max-height: 60vh;
   border-radius: 5px;
}

button{
    background: none;
}

a{
    text-decoration: none;
    color: black;
}

#cont-center{
    display: flex;
  align-items: center;
  justify-content: center;
}

#carrusel img{

   max-width: 100%;
   
   object-fit: cover;
   filter: grayscale(60%);
   
}

#fernandoPaloma, #inicio{
    padding-top: 100px;
    margin: auto;
}

#fernandoPaloma img,
#inicio img{
    max-width: 100%;
    object-fit: cover;
}

#gustavoFernanda{ 
    padding-top: 100px;
    margin: auto;
}

#gustavoFernanda img{
    max-width: 100%;
    object-fit: cover;
}

.overlay-sec{

    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white; /* TEXTO*/
    z-index: 1;
}

.overlay-sec .coutainer,
.overlay-sec .row
{
    height: 100%;

} 
.overlay-sec h1{
    top: 25%;
}

.text-wedding{

    font-family: text-session;
  }

#fernandoPaloma h1,
#gustavoFernanda h1,
#inicio h1{

    padding-bottom: 20px;
}

#gustavoFernanda, #inicio, #fernandoPaloma{

    padding-bottom: 25px;
}