/*FUENTES*/

@font-face{
    font-family: logo-pino;
    src: url(Amsterdam\ Four_ttf\ 400.ttf);
}

@font-face{
    font-family: text-session;
    src: url(amsterdam-four.ttf);
    
}

@font-face{
    font-family: text-nav;
    src: url(Barcialle\ 400.ttf);
    
}

@font-face{
    font-family: main-galery;
    src: url(romic-light-1.otf);
}
/*INDEX*/

#acerca img{
    max-width: 65%;
    max-height: 65%;
    border-radius: 50%;
}
#acerca{
    /*background-color: #151629;*/
    color: black;
}
.texto-alineado{
    display:flex;
    justify-content: center;
    align-items: center
}

#footer{
    background: linear-gradient(90deg, #04141b, #111e25 25%, #0b151a);

}

#footer a{
    color: white;
    text-decoration: none;
}
#footer p{
    color: white;
}
#footer h5,h6{
    color: white;
}

#main .carousel-inner img{
   max-width: 100%;
    max-height: 75vh;
    object-fit: cover;
    filter: grayscale(60%);

}

#carousel{

    position: relative;
}

/* PERMITE EXPANDIR TODO EL TEXTO EN LAS IMÁGENES DEL CARRUSEL*/
#carousel .overlay{

    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white; /* TEXTO*/
    z-index: 1;
}

#carousel .overlay .coutainer,
#carousel .overlay .row
{
    height: 100%;

}

#testimonios img{
    max-width: 60%;
    max-height: 70%;
}

#contacto img{
    max-width: 100%;
    max-height: 70vh;
 }
 
 #contacto {
     background-color: #343a40;
     color: white;
 }
 #logo img{
  width: 150px;
 }

.letra-nombre{
    font-family: logo-pino;
    font-size:x-large;
}
.letra-peque{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
}

  /*SECCIONES*/

  .card {
        
    overflow: hidden;
    object-fit: cover;
} 

#cont-img img{
    -webkit-transition:all 4s ease; /* Safari y Chrome */
    -moz-transition:all 4s ease; /* Firefox */
    -o-transition:all 4s ease; /* IE 9 */
    -ms-transition:all 4s ease; /* Opera */
    width:100%;
    }
    
    @media (hover: hover) {
    #cont-img:hover img {
        -webkit-transform:scale(1.25);
        -moz-transform:scale(1.25);
        -ms-transform:scale(1.25);
        -o-transform:scale(1.25);
        transform:scale(1.25);

        
        }
    
    }



#cont-img .overlay-sec{

    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: white; /* TEXTO*/
    z-index: 1;
}

#cont-img .overlay-sec .coutainer,
#cont-img .overlay-sec .row
{
    height: 100%;

} 


.text-session{

  font-family: text-session;
  font-size: 50px;
}

#proyectos .card{

    border: none;


}

  .text-galery{

    font-family: main-galery;
   
  }

